* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Figtree", sans-serif
}
.navbar {
  background-color: #FFFAF5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  z-index: 99;
  position: fixed;
  width: 100%;
}
.logo {
  margin-left: 20px;
  padding: 3px;
}
.Appointments {
  margin: 10px;
  margin-right: 10px;
  gap: 8px;
  display: flex;
}
.link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
  background-color: #F8943F;
  padding: 10px 15px;
  border-radius: 999px;
  font-size: 16px;
  transition: 0.3s ease;
  border: 1px solid #DE6F0D;
}
@media (max-width: 768px) {
  .link {
    display: none;
  }
  .logo {
    padding: 0;
    width: 40%;
    
  }
  .logo img{
    width: 60%;
    /* padding: 4px; */
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .navbar {
    width: 100%;
  }
}
.link-2 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px 15px;
  border-radius: 999px;
  font-size: 16px;
  transition: 0.3s ease;
  border: 2px solid #462512;
}

 
/* MOBILE RESPONSIVE RULE */

@media (max-width: 768px) {
  .hero , .form{
    width: 100%;
    min-height: auto;
  }
 
}

.inputs{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
}
.text{
  padding: 10px;
  /* line-height: 25px; */
}
.text h3{
margin-bottom: 5px;
}
.rounded-input {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border: 1px solid orange;
  color: black;
  background-color: #fff;
  padding: 10px 28px;
  border-radius: 999px;
  font-size: 16px;
  outline: none;
  /* width: 260px;   You can change this */
}

/* Placeholder color */
.rounded-input::placeholder {
  color: gray;
}

/* Focus Effect */
.rounded-input:focus {
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.35);
}

.pill-input{
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid orange;
  color: black;
  background-color: #fff;
  padding: 10px 28px;
  border-radius: 999px;
  font-size: 16px;
  outline: none;
  /* width: 260px; */
  justify-content: space-between;
}
.pill-input input::placeholder{
  color: gray;
  border: none;
  text-decoration: none;
  outline: none;
}
.pill-input input{
  outline: none;
  border: none;
}
.policy-field {
  display: flex;
  align-items: flex-start;   
  gap: 10px;
  width: 100%;
  /* max-width: 320px; */
}

.policy-field input {
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: #FFE0C4;
  outline: #FFE0C4;
  margin-top: 3px;          
  flex-shrink: 0;  
}

.policy-field a {
  color: #4f46e5;
  text-decoration: none;
}
.btn{
   display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: orange;
  padding: 10px 15px;
  border-radius: 999px;
  font-size: 16px;
  transition: 0.3s ease;
  text-align: center;
  border: #FFE0C4;
  margin-bottom: 10px;
}

/* ratings section */
.rating-section{
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #FFF9F4;
  /* justify-content: center; */
  min-width: 100vw;
  overflow-x: auto;
  margin-top: 13px;
  padding: 10px;
  color: #462512;
  font-weight: 700;
   font-family: "Figtree", sans-serif
}
.ratings{
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 5px;
  padding: 5px;
  flex-shrink: 0;
}
.ratings #number{
  color: orange;
}


/* */
#baap{
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.beta{
  /* height: 330px;
  width: 500px; */
  height: auto;
  width: auto;
  margin: 10px;
  display: inline-block;
  
}
/* cards */
.cards-div{
white-space: nowrap;
overflow-x: auto;
overflow-y: hidden;
  /* display: flex; */
}
.cards-div .child{
  display: inline-block;
}
.card{
  display: flex;
  border: 1px solid #FFE0C4;
  gap: 10px;
  max-width: 680px;
  border-radius: 1rem;
  margin: 10px;
  flex-shrink: 0;
  height: 332px;
}


.img-div img{
  background-size: cover;
  overflow: hidden;
  margin-bottom: -4px;
  border-top-left-radius:1rem ;
  height: 100%;
  width: 100%;
}
.text-div{
  padding: 10px;
  text-align: start;
  padding-right: 15px;
  /* margin: 10px; */
}
.first h4{
line-height: 22px;
font-weight: 700;
font-size: 20px;
}
.first p{
  color: #474747;
  font-size: 16px;
  margin-top: 2px;
}
.custom-dot {
  list-style: none;
  padding-left: 0;
  margin-top: 4px;
  margin-left: 8px;
}
.custom-dot li{
  font-weight: 400;
  font-size: 16px;
  color: #474747;
}
.custom-dot li::before {
  content: "• ";
  font-size: 20px;
  margin-right: 6px;
}
@media (max-width:768px) {
   .card{
    flex-direction: column; 
    width: 285px;
    height: 588px;
  } 
  .rating-section{
     overflow-x: auto;
    -webkit-overflow-scrolling: touch;
     width: 100vw;
    /* padding-bottom: 10px; */
  }
  .rating-section::-webkit-scrollbar {
    display: none; /* hide scrollbar (optional) */
  }
}

  /* feedback section */
  .parent-feedback{
    text-align: center;
  }
 
  /* accordian section */
  .parent-accordian{
    text-align: center;
    margin: 15px;
    padding: 5px;
  }
  .parent-div{
    margin-top: 15px;
    padding-top: 10px;
  }
  .accordian-div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
  }
  #child-div{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    gap: 10px;
  }
  .img-div img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  /* feedback-2 section */
.feedback-2-section{
  text-align: center;
  padding: 5px;
}
#parent{
  /* margin-top: 10px; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
#parent .child{
  width: 250px;
  max-height: 350px;
  margin: 10px;
  display: inline-block;
}
.div-img img{
  /* background-repeat: no-repeat; */
  background-size: cover;
  overflow: hidden;
  width: 100%;
  max-height: 300px;
  border-radius: 10px;
}
.location{
  text-align: start;
  color: gray;
}
.contentdiv{
  display: flex;
  justify-content: space-between;
  padding: 3px;
}
.location-two{
  color: orange;
}
.heading-div #para{
  padding: 4px;
}

.form-2{
 border-radius: 1rem;
  background-color: #FFF9F4;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.form-inputs{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 10px;
}
.form-inputs input{
  padding: 8px;
  border: 1px solid #FFE0C4;
}
.btn-policy{
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  }
.btn{
  margin: 14px;
}
@media (min-width:768px){
  .form-inputs{
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 10px;
  }
  .form-inputs input{
    width: 100%;
    padding: 8px;
}
.btn-policy{
  flex-direction: row;
  align-items: center;
   justify-content: flex-end;
  }
.policy-field{
  width: 60%;
}
.btn{
  width: 30%;
  margin: 0;
}
.parent-div{
  display: flex;
  gap: 50px;
  justify-content: center;
}

}

/* picture section */
.picture-section{
  display: flex;
  flex-direction: column;
   /* justify-content: center; */
  /* align-items: center;  */
}
.toast-div{
  width: 170px;
  height: 80px;
  border: 1px solid #D0D0D0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* justify-content: space-around; */
}
.icon{
  font-size: 50px;
  color: #4D2C19;
}
.pic-div{
  text-align: center;
  margin: 10px;
  padding-top: 10px;
 }
.parent-toast{
  display: grid;
  grid-template-columns: 200px 200px;
  row-gap: 15px;
  place-items: center;
  place-content: center;
}
@media (min-width:768px){
  .picture-section{
    flex-direction: row;
    gap: 50px; 
    justify-content: center;
  }
  .picture-grid{
    display: grid;
    grid-template-columns: 300px 300px;
  }
  
}